<head>
<<<<<<< HEAD
  <title>Product Inventory </title>
</head>
=======
  <title>Products</title>
</head>
  <body>
    {{>base1}}
  </body>
  <template name="base1">
    <div class="container">
      <header>
        <h1>Product List {{prodCount}}</h1>
        <!-- <label class="hide-completed">
          <input type="checkbox" />
          Remove Products
  </label> -->

        <form class="new-element">
          <div class="label">
            Name
          </div>
          <input type="text" name="text" class="input is-primary" placeholder="Type to add new Product" />
          <div class="label">
            Number
          </div>
          <input type="number" name="count" class="input is-primary" placeholder="Enter no. of Items" />
        </form>
      </header>
      <div>
        {{#each prods}}
        <button class="button is-primary" id="edit">
          Edit
        </button>
        <div class="card">
          <div class="title">
              <div class="label">Product Name:{{prods.name}}</div>
          </div>
          <div class="sub-title">
            <div class="label">
              Number: {{prods.number}}
            </div>
          </div>

          <button class="button is-danger">&times;</button>
          <input type="checkbox" class="toggle-checked">
        </div>
        {{/each}}
      </div>
    </div>
  </template>
>>>>>>> aa8c571741167fbaac86dced5c9e23fe34ad54b7
