<template name="form">
  <button class="button is-primary" id="edit">
    Edit
  </button>
<div class="card">
  <div class="title">
      <div class="label">Product Name:{{prodName}}</div>
  </div>
  <div class="sub-title">
    <div class="label">
      Number: {{prodCount}}
    </div>
  </div>

  <button class="button is-danger">&times;</button>
  <input type="checkbox" class="toggle-checked">
</div>
</template>
