<body>
  <div class="container">
    <header>
      <h1>Product List({{prods.length}})</h1>
        <form class="new" id="newcard">
          <div class="columns">
            <div class="column">
              <input type="text" name="text" placeholder="New products" />
            </div>
            <div class="column">
              <input type="number" name="count" placeholder="No. of items" />
            </div>
            <div class="column">
              <button type="submit"  class="button ">Add</button>
            </div>
          </div>
        </form>

    </header>

    <ul>
      {{#each prods}}
      <div class="prods">
      <div class="card">
        {{#if isEditable equals this._id }}
        {{>prod}}
        {{else}}
          <div class="columns">
            &nbsp;
            <div class="column">
              <button class="button is-success" id="edit">+</button>
            </div>
            <div class="column">
              <div class="label">
                Name:
              </div>
               <p>{{name}}</p>
            </div>
            <div class="column">
              <div class="label">
                Number:
              </div>
              <p>{{number}}</p>
            </div>
            <div class="column">
              <div class="label">
                Created At:
              </div>
              <p>{{createdAt}}</p>
            </div>
            <div class="column">
              <button class="button is-danger" id="delete">&times;</button>
            </div>
          </div>
            {{/if}}
      </div>
    </div>
      {{/each}}
    </ul>
  </div>
</body>
