<template name="prod">
  <div class="card">
    <form id="changed">
      <div class="columns">
        <div class="column">
          <button class="button is-danger" id="back">&times;</button>
        </div>
        <div class="column">
        <input type="text" id="name" name="text" value="{{this.name}}" placeholder="Edit Name" />
        </div>
        <div class="column">
          <input type="text" id="num" name="number" value="{{this.number}}" placeholder="Enter number" />
        </div>
        <div class="column">
          <button type="submit" class="button is-success" id="update">+</button>
        </div>
      </div>
      </form>
  </div>
</template>
